@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  scroll-behavior: smooth;
}

.nav-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
}

.sub-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.paragraph {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.text-gradient {
  background: linear-gradient(84.92deg, #93d6e4 26%, #519de3 45.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.to-gradient {
  background: linear-gradient(
    87.6deg,
    #93d6e4 -1.61%,
    #519de3 46.39%,
    #93d6e4 94.38%
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: color 0.5s ease-in-out;
  animation: anim 5s ease-in-out infinite;
}
.to-gradient:hover {
  color: transparent;
}

@keyframes anim {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.bg-gradient {
  background: linear-gradient(180deg, #212529 0%, #030301 100%);
}

.p-container {
  background: rgba(33, 37, 41, 0.5);
  border-radius: 10px;
  max-width: 950px;
  min-height: 475px;
  border-width: 1px;
  box-sizing: border-box;
  border-color: #cccccc;
}

.orange-gradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(252, 149, 8, 0.44) 0%,
    rgba(254, 104, 8, 0) 100%
  );
}
